@import "bootstrap-sprockets";
@import "bootstrap";

// Inherit bootstrap classes for Devise flash messages
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.spacer {
  margin-top: 20px;
}

main.container {
  @extend .spacer;
}

.error_messages > ul {
  padding-left: 20px;
}

.question {
  padding: 15px 0;
  display: flex;
  flex-direction: row;

  + .question {
    border-top: 1px solid lightgray;
  }
}

.question-body {
  margin-bottom: 15px;
}

.question-details h3 {
  margin-top: 0;
}

.question-stats {
  border: 1px solid transparent;
  flex: 0 0 65px;
  padding: 0 5px 5px 0;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
}

.time {
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.answer-count {
  font-size: 150%;
}

.imprint > .username {
  color: gray;
}

.devise-nav > ul {
  list-style: none;
  padding-left: 0;
}
