@import "bootstrap-sprockets";
@import "bootstrap";

@mixin unstyled-link {
  &, &:visited, &:hover, &:active {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

// Inherit bootstrap classes for Devise flash messages
.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.spacer {
  margin-top: 20px;
}

main.container {
  @extend .spacer;
}

.error_messages > ul {
  padding-left: 20px;
}

.question {
  padding: 15px 0;
  display: flex;
  flex-direction: row;

  & + & {
    border-top: 1px solid lightgray;
  }
}

.question-body {
  margin-bottom: 15px;
}

.question-details h3 {
  margin-top: 0;
}

.question-stats {
  flex: 0 0 65px;
  padding: 0 5px 5px 0;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;

  .answer-count {
    font-size: 150%;
  }

  &.has-best {
    border: 1px solid green;
  }
}

.question-stats-answers {
  @include unstyled-link;

  display: block;
  border: 1px solid transparent;

  .has-best & {
    border: 1px solid green;
    color: green;
  }
}

.time {
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.imprint > .username {
  color: gray;
}

.devise-nav > ul {
  list-style: none;
  padding-left: 0;
}

.answer {
  padding: 15px;
  transition: background-color 3s;
  border: 1px solid transparent;

  & + & {
    border-top: 1px solid lightgray;
  }

  &.focused {
    background-color: #f9fb92;
  }
}

.answers-summary {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .answer-count {
    font-size: 150%;
  }
}

.answer-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.answer-pages .pagination {
  margin: 0;
}

.answer-body {
  margin-bottom: 15px;
}

.answer-header {
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.best-answer {
  margin-bottom: 15px;

  .button_to {
    display: inline-block;
  }
}

.corrections {
  padding-left: 20px;
  font-size: 90%;
}

.correction {
  margin-top: 15px;
}

.correction-body {
  margin-bottom: 5px;
}

.correction-form {
  margin-top: 15px;
}
